.modal {
  position: fixed;
  background: #fff;
   border: 1px solid #000;
   left:50%;
  padding: 20px;
  border-radius: 5px;

   -webkit-transform:translate(-50%, 0);
   -ms-transform: translate(-50%,0);
   transform: translate(-50%,0);
}
