
/* CSS header_checkbox */

.branding{background-color:#787878;position: relative;width:100% !important; }

#navmenu li a {color:#000;}

#site-title a { color:#000;}

.branding--clone { position:fixed;}